.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    margin-top: 50px;
    padding-right: 50px;
}

.logoContainer img {
    width: 120px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav-link {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    color: #000;
}

.nav-link:hover {
    background-color: rgb(101, 101, 101);
    padding: 10px;
    border-radius: 10px;
}

.nav-link img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.userHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
}