.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.logoContainer img {
    width: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.nav-link {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.nav-link:hover {
    border-bottom: 1px solid white;
}