.slideContainer {
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 50px;
    position: relative; 
}

.backgroundSlide {
    position: relative;
    z-index: 0;
}

.backgroundSlide img {
    width: 100%;
    display: block;
}

.backgroundSlide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* ajuste a altura da sombra */
  background: linear-gradient(to top, rgba(0,0,0,1.0), transparent);
  z-index: 1; /* fica sobre a imagem */
}

.slideBox {
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 40%;
  width: 800px;
  padding-left: 50px;
}

.slideBox h1 {
  color: white;
  font-size: 3rem;
  text-align: left;
}

.buttonSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttonSlide button {
    width: 300px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.buttonSlide button:hover {
    background-color: white;
    border: 1px solid black;
    color: #000;
}

.otherMateriaBox {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 40px;
}

.otherMateriaBox img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
}

.otherMateriaBox img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.informationMateria button {
    width: 600px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    margin-top: 10px;

}

.informationMateria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;   
    text-align: center;
    margin-top: 30px;
}

.otherMateriaBox button:hover {
    background-color: white;
    border: 1px solid black;
    color: black
}

.headerMateria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 10px;
}

