.materia-individual-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.containerMateriaHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.descriptionMateria {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-top: 100px;
    font-size: 18px;
    line-height: 1.6;
}

.imageMateria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.imageMateria img{
    width: 800px;
}