.informarionsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    width: 400px;
    height: 400px;
    background-color: black;
    padding: 0;
    overflow: hidden;
}

.informarionsBox::after {
    content: ''; 
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    pointer-events: none;
    z-index: 1; 
}

.imageLutador {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageLutador img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.imageLutador img:hover {
    transform: scale(1.05);
}

.informationLutador {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    z-index: 2; 
}

.lutadoresContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rowLutadores {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}

.informationFighters {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.informationFighters h1 {
    color: white;
    font-size: 25px;
}

.empressSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

.empressSelect img {
    width: 80px;
    transition: 0.3s all ease-in-out;
}

.empressSelect img:hover {
    transform: scale(1.1);
    cursor: pointer;
}