.imageHome {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.imageHome img {
    width: 100%;
}

.showNews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    margin-top: -100px;
}

.rawLogo {
    width: 150px;
}

.cinturaoShowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.cinturaoShowBox img {
    width: 220px;
    transition: all 0.3s ease-in-out;
}

.cinturaoShowBox img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cinturaoShowBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.rowCinturao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cinturoesTitle {
    margin-top: 100px;
    font-size: 25px;
    font-weight: lighter;
}

.informationCinturao {
    width: 300px;
    font-size: 13px;
}

.informationCinturao h2 {
    font-weight: lighter;
    margin-bottom: 10px;
}

.informationCinturao p {
    font-weight: lighter;
}